.smiley {
  height: 400px;
  width: 400px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
}

.eye1,
.eye2 {
  height: 50px;
  width: 50px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
}

.eye1 {
  top: 120px;
  left: 100px;
}

.eye2 {
  top: 120px;
  left: 250px;
}

.mouth {
  width: 200px;
  height: 75px;
  background-color: lightcoral;
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 250px;
  left: 100px;
}