div {
  height: 60px;
  width: 400px;
  margin-bottom: 200px;
  margin-left: 20px;
}

.rotate {
  background-color: rgb(239, 228, 210);
  transform: rotate(30deg);
  position: absolute;
  top: 150px;
  left: 50%;
}

.scale {
  background-color: rgb(37, 77, 112);
  transform: scale(0.5);
  /* transform: scale(1.5); */
  /* scale(x,y) */
  /* transform: scale(2,1.5); */
}

.translate {
  /* Move towards X and Y */
  background-color: #131D4F;
  transform: translate(20px, 40px);
}

.skew {
  background-color: rgb(149, 76, 46);
  transform: skew(30deg, 9deg);
}